
.hero{
    height: 300px;
    width:auto;
    background-image: url(https://somatopublications.com/admin/uploads/journals/Current%20Trends%20in%20Medicine%20Banner.jpg);
    margin-bottom: 10px;
}

p{
    color: black;
}

.footer{
    margin-top: 10px;
    height: auto;
    background-color: rgb(35, 112, 255);
}

.copyright{
    align-content: center;
    justify-content: center;
}